.navbar {
    background-color: #c5321d !important;
    /* background-color: #882D17 !important; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
    color: white !important;
    display: inline-block !important;
}

.nav-link:hover {
    color: rgb(255, 202, 67) !important;
}

.navbar-brand {
    font-weight: 800;
    color: aliceblue !important;
    /* color: royalblue !important; */
}

i {
    color: white;
}

i:hover {
    color: rgb(255, 202, 67) !important; 
    cursor: pointer;
}

.fa-user{
    transform: scale(1.5);
    margin-right: -5px;
}

.navbar-toggler{
    background-color: white !important;
}

.dropdown-toggle{
    color: white;
}

.dropdown:hover .dropdown-toggle{
    color: rgb(255, 202, 67) !important;
}


.dropdown:hover i{
    color: rgb(255, 202, 67) !important;
}



#search-field {
border-radius: 10px;
}